<h2>Kyle Schachtschneider</h2>
<h3>
Postdoctoral Research Assistant, Wageningen University
Associate Research Assistant, University of Illinois
Biomedical Research - Genetics - Epigenetics - Immunology</h3>
<h4> I am interested in developing technology platforms and biological models for the life science community to resolve complex traits and diseases.

My focus is on creating biomedical and life sciences experimental models through comparative genomics. Comparative genomics allows us to capture the genetic basis for a phenotype (trait or disease) across species (from fruit flies, worms, mice, and pigs to man).</h4>
