<h1>Kyle Schachtschneider </h1>
<h2>About Me</h2>
<br></br>
<h3>Current Work</h3>
  <ul> 
    <li><p>I'm currently a Postdoctoral Research Assistant at <a href='http://www.wageningenur.nl/en/wageningen-university.html'> Wageningen University.</a></li>
    <p><a href='http://www.wageningenur.nl/en/wageningen-university.html' target="_blank"><img src="http://i45.photobucket.com/albums/f60/delicious125/42c50ad9bb87b820ecfb21aa3c1a49d1df5e07af.jpg" border="0" alt=" photo 42c50ad9bb87b820ecfb21aa3c1a49d1df5e07af.jpg" style="width:528px;height:128px"/></a></p>
    <li>I am also an Associate Research Assistant, for the <a href='http://comparativegenomics.illinois.edu/' >University of Illinois at Urbana-Champaign.</a></p></li>
    <p><a href='http://comparativegenomics.illinois.edu/' target="_blank"><img src="http://i45.photobucket.com/albums/f60/delicious125/UIUC_Logo_University_of_Illinois_at_Urbana-Champaign.jpg" border="0" alt=" photo UIUC_Logo_University_of_Illinois_at_Urbana-Champaign.jpg" style="width:528px;height:128px"/></a></p>
  </ul>

<h3>Education</h3>
  <ul>
    <p><li>He received his Bachelor's degree in Animal Science from the University of Illinois at Urbana-Champaign in 2008.</li></p>
    <p><li>He completed his joint Master's and PhD degree in Animal Science from the University of Illinois at Urbana-Champaign in 2013.</li></p>
  </ul>

<h3>Fellowships & Awards</h3>
  <ul>
    <li><p>2014- International Society for Animal Genetics Travel Award Receipient.</p></li>
  </ul>

<h3>Contact</h3>
  <ul>
    <li><p>kschach2[at]illinois.edu</p></li>
    <li><p><a href= "www.linkedin.com/pub/kyle-schachtschneider/19/ab5/25b">LinkedIn</a></p></li>
  </ul>

<h3>Keywords</h3>
<p>Biomedical Research - Genetics - Epigenetics - Immunology</p>

<%= link_to 'Back', :back %>

