<h1>Kyle Schachtschneider </h1>
<p>I'm currently a Postdoctoral Research Assistant at <a href='http://www.wageningenur.nl/en/wageningen-university.html'> Wageningen University</a>. 
<br></br>I am also an
Associate Research Assistant, for the <a href='http://comparativegenomics.illinois.edu/' >University of Illinois at Urbana-Champaign.</a> </p>
<h3>Contact</h3>
<p>My email is kschach2@illinois.edu</p>
<a href= "www.linkedin.com/pub/kyle-schachtschneider/19/ab5/25b">LinkedIn</a>
<h3>Keywords</h3><p>Biomedical Research - Genetics - Epigenetics - Immunology</p>

<%= link_to 'Back', :back %>

